<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jeremy Schomery</string>
	<key>Builder Version</key>
	<string>12602.2.14.0.7</string>
	<key>CFBundleDisplayName</key>
	<string>Hover Preview for YouTube™</string>
	<key>CFBundleIdentifier</key>
	<string>com.add0n.hover-youtube</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.4</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>*://*.youtube.com/*</string>
			<string>*://youtu.be/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>data/inject/chrome.js</string>
				<string>data/inject/index.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>data/inject/index.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>View YouTube while hovering mouse over a YouTube link on any website</string>
	<key>DeveloperIdentifier</key>
	<string>RED8XKG2R4</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://add0n.com/youtube-hover.html</string>
</dict>
</plist>
