.ihvyoutube {
  border: solid 1px #dadada;
  box-shadow: 1px 1px 5px #dadada;
  background: #fff url('chrome-extension://__MSG_@@extension_id__/data/loader-black.gif') center center no-repeat;
  z-index: 2147483647;
}
.ihvyoutube[data-error=true] {
  background-image: url('chrome-extension://__MSG_@@extension_id__/data/error.svg');
  background-size: 128px;
}
.ihvyoutube[data-dark=true] {
  box-shadow: 0 0 0 90000px rgba(0, 0, 0, 0.8);
  border:  none;
  background: #000 url('chrome-extension://__MSG_@@extension_id__/data/loader-white.gif') center center no-repeat;
}
