.ihvyoutube {
  border: solid 1px #dadada;
  box-shadow: 1px 1px 5px #dadada;
  z-index: 2147483647;
  background: #000 center center no-repeat;
}
.ihvyoutube:not([data-loaded=true]) {
  background-image: url('chrome-extension://__MSG_@@extension_id__/data/loader.gif');
}
.ihvyoutube[data-dark=true] {
  box-shadow: 0 0 0 90000px rgba(0, 0, 0, 0.8);
  border:  none;
}
.ihvyoutube[data-dark=true]:not([data-loaded=true]) {
}
.ihvyoutube[data-error=true] {
  background-image: url('chrome-extension://__MSG_@@extension_id__/data/error.svg');
  background-size: 128px;
}
